
{{#if user}}
  <span class="user">
    {{#link-to "users.show" user.id}}
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{user.name}}
      {{/if}}
    {{/link-to}}
  </span>
{{else}}
  <span class="user user-anonymous">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      Anonymous
    {{/if}}
  </span>
{{/if}}
