<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-test-news-title>{{news.title}}</h3>
  </div>
  <div class="panel-body" data-test-news-content>
    {{{news.content}}}
  </div>
  <div class="panel-footer">
    <div class="pull-right">
      <span data-test-news-comments-count>{{#link-to "news-details" news.id}}Comments ({{news.commentsCount}}){{/link-to}}</span>
      -
      <span data-test-news-date>{{moment-format news.createdOnDateTime 'MMMM D, YYYY'}}</span>
      -
      <span data-test-news-author>{{#link-to-user user=news.author}}{{news.username}}{{/link-to-user}}</span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
