{{#leaflet-map bounds=bounds fitBoundsOptions=(hash paddingTopLeft=(point 0 0) paddingBottomRight=(point 0 0) padding=10 maxZoom=10 ) scrollWheelZoom=false tap=isNotMobile dragging=isNotMobile}}
  {{tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" attribution="Map data © <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors"}}

  {{#each (sort-by "createdOnDateTime:desc" moves) as |move index|}}
    {{#marker-layer lat=move.latitude lng=move.longitude icon=(if (eq index 0) firstMoveMarkerIcon (if (eq index length) lastMoveMarkerIcon intermediateMoveMarkerIcon))}}
      {{#popup-layer}}
        <h3>{{move.waypoint}}-{{index}}-{{movesCount}}-{{length}}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}

  {{#polyline-layer locations=locations}}
  {{/polyline-layer}}

{{/leaflet-map}}
