<div class="btn-group btn-group-justified hidden-xs">
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "arrow-up fa-lg fa-fw"}} Grab</a>
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "eye fa-lg fa-fw"}} Seen</a>
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "comment fa-lg fa-fw"}} Comment</a>
</div>
<div class="btn-group-vertical visible-xs">
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "arrow-up fa-lg fa-fw"}} Grab</a>
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "eye fa-lg fa-fw"}} Seen</a>
  <a class="btn btn-default btn-lg" href="#" role="button">{{fa-icon "comment fa-lg fa-fw"}} Comment</a>
</div>
