<div class="container">

  <ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>
      {{#link-to "news"}}News{{/link-to}}
    </li>
    <li class="active">{{model.title}}</li>
  </ol>

  {{news-show news=model}}
  <hr>
  {{#each (sort-by "createdOnDateTime:desc" model.newsComments) as |newscomment|}}
    {{news-comment-show comment=newscomment}}
  {{/each}}
  <hr>
  {{news-comment-post}}

  {{#if session.isAuthenticated}}
    {{news-comment-post}}
  {{else}}
    <p>You must be logged in to post comment</p>
  {{/if}}

  <hr>

  {{#each model.comments as |comment|}}
    {{news-comment-show comment=comment}}
  {{/each}}

</div>
