{{#bs-navbar class="navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to 'index' class="navbar-brand" }}
      <img alt="GeoKrety.org" src="https://geokrety.org/rzeczy/logo/geokrety.svg">
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index" data-test-home-link}}{{fa-icon "home fa-lg fa-fw"}} Home{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "news" data-test-news-link}}{{fa-icon "newspaper-o fa-lg fa-fw"}} News{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "geokrety" data-test-news-link}}{{fa-icon "server fa-lg fa-fw"}} GeoKrety{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "move" data-test-log-a-geokret-link}}{{fa-icon "plane fa-lg fa-fw"}} Log a GeoKret{{/nav.link-to}}
      {{/nav.item}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}
          {{#nav.link-to "register-geokret" data-test-register-a-new-geokret-link}}{{fa-icon "plus-circle fa-lg fa-fw"}} Register a new GeoKret{{/nav.link-to}}
        {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}

    {{#navbar.nav class="navbar-right" as |nav|}}

      {{#nav.item}}
        {{#bs-form class="navbar-form" as |form|}}
          {{#form.group validation=firstNameValidation}}
            <input value= {{search}} class="form-control" type="text" placeholder="Search">
          {{/form.group}}
          {{bs-button defaultText="Search" buttonType="submit"}}
        {{/bs-form}}
      {{/nav.item}}

      {{#if session.isAuthenticated}}
        {{#nav.dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}{{fa-icon "user-circle-o fa-lg fa-fw"}} My account <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "search-plus fa-lg fa-fw"}} Account details{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "briefcase fa-lg fa-fw"}} GeoKrety in my inventory{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "heart fa-lg fa-fw"}} My GeoKrety{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "binoculars fa-lg fa-fw"}} Watched GeoKrety{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "plane fa-lg fa-fw"}} Recent moves of my GeoKrety{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "picture-o fa-lg fa-fw"}} Photos of my GeoKrety{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "index"}}{{fa-icon "map fa-lg fa-fw"}} Where are my GeoKrety{{/ddm.link-to}}
            {{/ddm.item}}
            {{ddm.divider}}
            {{#nav.item}}
              {{#nav.link-to "logout" data-test-logout-button}}{{fa-icon "sign-out fa-lg fa-fw"}} Logout{{/nav.link-to}}
            {{/nav.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{else}}
        {{#nav.item}}
          {{#nav.link-to "move" data-test-create-an-account-link}}{{fa-icon "plus-circle fa-lg fa-fw"}} Create an account{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "login" data-test-login-button}}{{fa-icon "sign-in fa-lg fa-fw"}} Login{{/nav.link-to}}
        {{/nav.item}}
      {{/if}}

    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}


<div class="wrapper">
  {{outlet}}
</div>


<footer class="footer">
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-12">
          <h3> More </h3>
          <ul>
            <li> {{#link-to "index"}}Home{{/link-to}} </li>
            <li> {{#link-to "news"}}News{{/link-to}} </li>
            <li> <a href="#"> Photo gallery </a> </li>
            <li> <a href="#"> Advanced search </a> </li>
            <li> <a href="#"> Downloads </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-12">
          <h3> Statistics </h3>
          <ul>
            <li> <a href="#"> Statistics </a> </li>
            <li> <a href="#"> Stats by country </a> </li>
            <li> <a href="#"> Lost GeoKrety </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-12">
          <h3> Help / Docs </h3>
          <ul>
            <li> <a href="#"> Help </a> </li>
            <li> <a href="#"> Molesholes and GK hotels </a> </li>
            <li> <a href="#"> Press corner </a> </li>
            <li> <a href="#"> Terms of use </a> </li>
            <li> <a href="#"> Api interface </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-12">
          <h3> Side products </h3>
          <ul>
            <li> <a href="#"> Maps of caches </a> </li>
            <li> <a href="#"> GeokretyMap.org </a> </li>
            <li> <a href="#"> GeoKrety Toolbox </a> </li>
            <li> <a href="#"> Waypoint resolver </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
          <h3> Finally </h3>
          <ul>
            <li> <a href="#"> About </a> </li>
            <li> <a href="#"> Hall of fame </a> </li>
            <li> <a href="#"> Contact </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Made in Poland 2007-2017.</p>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
