<div class="container">

  <ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>
      {{#link-to "geokrety"}}GeoKrety{{/link-to}}
    </li>
    <li class="active">{{model.name}}</li>
  </ol>

  <div class="row">
    <div class="col-lg-8 col-sm-4 col-xs-12">
      <div class="jumbotron">
        <h1>{{model.name}}</h1>
        <p>{{{model.description}}}</p>
        <hr> {{geokret/moves-actions-buttons}}
      </div>
    </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{pictures/avatar-medium pictureUrl=model.avatarUrl}}
        </div>

        {{geokret/properties-table geokret=model}}

        <div class="panel-body">
          {{geokret/actions-buttons}}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Pictures</div>
    <div class="panel-body">
      <div class="row">
        {{#each (repeat model.picturesCount) as |empty|}}
          <div class="col-md-2">
            {{pictures/avatar-medium pictureUrl=model.avatarUrl}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Map</div>
    <div class="panel-body">
      {{geokret/moves-map moves=model.moves}}
    </div>
  </div>

  <hr>

  {{#each (sort-by "createdOnDateTime:desc" model.moves) as |move|}}
    {{move-show move=move}}
  {{/each}}


</div>
